<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Convert from evernote to springpad">
    <meta name="keywords" content="springpad,evernote,import,export,import">
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

	<!-- Optional meta tags -->
	<!-- <meta name="revisit-after" content="1 day" /> -->
	<!-- <meta name="robots" content="index,follow" /> -->
	<!-- <meta http-equiv="pragma" content="no-cache" /> -->
	
	<title>Evernote to Springpad Convertor</title>
	<script type="text/javascript" charset="utf-8" src="js/jquery-1.4.2.min.js"></script>

	<script type="text/javascript" charset="utf-8" src="js/common.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/hashgrid.js"></script>


	<!-- Meyer Reset CSS hotlink -->
	<link rel="stylesheet" href="css/reset.css" type="text/css" media="" />
	<!-- <link rel="stylesheet" href="/css/grid.css" type="text/css" media="" /> -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="" />

	<!--[if lt IE 7]>
		<link href="/css/IElt7.css" media="screen" rel="Stylesheet" type="text/css" />
    <![endif]-->
	<!--[if (gte IE 7)&(lt IE 8)]>
		<link href="/css/IEgte7lt8.css" media="screen" rel="Stylesheet" type="text/css" />
    <![endif]-->
	<!--[if lt IE 9]>
		<link href="/css/IElt9.css" media="screen" rel="Stylesheet" type="text/css" />
   <![endif]-->

	
	<!--[if lt IE 7]>
	<script type="text/javascript" charset="utf-8" src="js/DD_belatedPNG_0.0.8a.js"></script>
	<script>
	  DD_belatedPNG.fix('.trans');
	</script>
   <![endif]-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3425506-4']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>

<body>
	<div id="header">

		<h1 id="logo">Awesome <strong><img src="images/bg-enote.png" width="35" height="35" /> Evernote</strong> to <strong><img src="images/bg-spad.png" width="24" height="23" /> Springpad</strong> Converter</h1>
		
		
	</div>  <!-- #header -->          
	<div id="super-container">
		<div id="container">
			
			<div id="content">
                <h3>Why? Because we’re awesome.</h3>
                                <h2>Upload your Evernote export file.</a></h2>
                                <p class="note">This will preserve all your entries and tags. </p>
                                <p class="note">You'll need the desktop version of Evernote, so you can export notebooks in the .enex format.</p>
                                <p class="note">There is a limit of 1MB per note and it works best with notes and not web clippings. Realistically files
                                of about 25 MB seem to work ok.  Anything bigger might work over a blazing fast internet connection.</p>

				<form action="" id="doit">
					<fieldset>
						<legend class="serif">Let's Do It!</legend>
						<div id="g1" class="form-field">
							<label for="">1</label>
							<a class='button' href="/login">Login to Springpad</a>
						</div>
						<div id="g2" class="form-field">
							<label for="">2</label>
							<input type="text" class="default-value" value="Name your new Springpad Workbook" />
						</div>
						<div id="g3" class="form-field">
							<label for="">3</label>
							<a class='button'>Choose file</a> 
							<span class="note">No File Selected</span>
						</div>
						<div id="g4" class="form-field">
							<label for="">4</label>
							<a class='button'>Upload</a> 
						</div>
					</fieldset>
				</form>
				
				<div id="donate" class="clear-l ">
					If you found the app useful, please buy us a coffee.
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="N5PPVR5NHH5T2">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>

			</div> <!-- #content -->
            	<div id="feedback">
					Feedback? <br/>
					<a href="mailto:rmoskal@mostmedia.com">Click here.</a>
				</div>
			<div id="footer">
						
							<div id="creds" class="serif">
								<b>Brought to you by</b> <br/>
										<a href="http://mostmedia.com"><img src="http://mostmedia.com/logo.png" align="middle" alt="Most Media"></a>
										<a href="http://alvarsirlin.com"><img src="images/logo-aas.png" alt="Alvar Sirlin Web Design and development" class="last"></a>
								</ul>
							</div>
			
			</div>
	</div><!-- #super-container -->
</body>
</html>
